GAMESERVER_DATABASE_USER=
GAMESERVER_DATABASE_PASS=
GAMESERVER_DATABASE_HOST=
GAMESERVER_DATABASE_PORT=
GAMESERVER_DATABASE_NAME=
GAMESERVER_DATABASE_APPLICATION_NAME=
GAMESERVER_LOG_LEVEL=
GAMESERVER_ENVIRONMENT=
GAMESERVER_SENTRY_DSN_BACKEND=
GAMESERVER_SENTRY_SERVER_NAME=
GAMESERVER_SENTRY_SAMPLE_RATE=
GAMESERVER_BA_ADDR=
TWITCH_HOST_URL_FRONTEND=
GAMESERVER_PASSPORT_ADDR=
GAMESERVER_API_ADDR=
GAMESERVER_ROOTPATH=
GAMESERVER_USERAUTH_JWTSECRET=
GAMESERVER_COOKIE_SECURE=
GAMESERVER_GOOGLE_CLIENT_ID=
GAMESERVER_JWT_ENCRYPT=
GAMESERVER_JWT_KEY=
GAMESERVER_JWT_EXPIRY_DAYS=
GAMESERVER_PASSPORT_TOKEN=
GAMESERVER_SERVER_STREAM_KEY=
